/*CSS DOCUMENT*/

img {
    width: 100%; 
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
div.container{
    margin: auto;
}


body{
    background-color: #8C6C42;
    font-family: "Proxima Nova", sans-serif;
    color: rgb(0,0,0);
}


h2{
	font-family: "Lucida Handwriting", cursive;
	font-size: 2.5em;
	text-align: center;
}






nav ul{
    background-color: rgb(55,55,55);
    padding: 1em;
    margin-bottom: -1.5em;
    text-align: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 2em;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;

}
nav ul li a{
    color: rgb(0,0,0);
    text-decoration: none;   
}

nav ul li a:hover{
    color: rgb(255,255,255);
}



.ipa{
    margin:1.5em;
}

.sour{
   margin: 1.5em;
}

.ale{
   margin:1.5em;
}







footer{
    text-align: center; 
    font-family: "Proxima Nova", sans-serif;
    color: rgb(255,255,255);
    padding: 0.4em;
    margin-top: 2em;
    background-color: rgb(55,55,55);
    text-transform: uppercase;
    font-size: .75em;
}



